@model List<CMS2.WEB.Page>
@{
    ViewBag.Title = "Index";
}

<h2>CMS</h2>

@Html.ActionLink("Create", "Create")

@if (Model.Count == 0)
{
    <div>You have no pages.</div>
}
else{
    <ul>
        @foreach (var page in Model)
        {  
            <li>@page.Title (@page.Contents.Count Content Items)
               @Html.ActionLink("Edit", "Edit", new{id = page.Id})
                @Html.ActionLink("Delete", "Delete", new{id = page.Id}) 
                @Html.ActionLink("Add Content", "Create", "Content", new{page_id = page.Id}, null)
               
                <ul>
                    @foreach(var content in page.Contents){
                        <li>@content.Title
                            @Html.ActionLink("Edit", "Edit", "Content", new{id = content.Id}, null)
                            @Html.ActionLink("Delete", "Delete", "Content", new{id = content.Id}, null)
                        </li>
                        
                    }
                    
                    
                    </ul>
                     
            </li>
        
        }
    </ul>
    
}
